@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
  local("Segoe UI Semibold"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 600;
  }
  
@font-face {
      font-family: SegoeUI;
      src: 
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), 
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    
      font-weight: 700;
      font-weight: 800;
      font-weight: 900; 
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SegoeUI;
}

html {
  scroll-behavior: smooth; 
}

img {
  width: 100%;
  vertical-align: middle;
}

.navbar1 .nav-link {
  position: relative;
  text-decoration: none;
  color: #1a1a1a;
}

.navbar1 .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  bottom: 0;
  background-color: #1f7aaf;
  transition: width 0.3s ease;
}

.navbar1 .nav-link:hover::after {
  width: 60%;
}

.navbar1 .nav-link.active::after {
  width: 60%;
}

.active {
  color: #1a1a1a;
  position: relative;
  text-align: center;
}

.active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  bottom: 1px;
  background-color: #1f7aaf; 
}



